/* -------------------------------------------------------------------- */
/* Styling applied to address book overall (font family, etc)           */
/* -------------------------------------------------------------------- */

body,table,textarea
{
	font-family:sans-serif;
	font-size:10pt;
}

/* -------------------------------------------------------------------- */
/* Address book title (first element in folder navigation path)         */
/* -------------------------------------------------------------------- */

.ldap_navigation_path li:first-child
{
	font-size:12pt;
	font-weight:bold;
}

/* -------------------------------------------------------------------- */
/* Folder navigation path element (other than first)                    */
/* -------------------------------------------------------------------- */

.ldap_navigation_path li+li:before
{
	content:'\25B6';	/* Right-facing arrow head */
	margin:0 1em;
}

/* -------------------------------------------------------------------- */
/* Page footer                                                          */
/* -------------------------------------------------------------------- */

.page_footer
{
	font-size:8pt;
	font-style:italic;
	text-align:center;
}

/* -------------------------------------------------------------------- */
/* Table column headers in search results and detail view               */
/* -------------------------------------------------------------------- */

.ldap_entry_viewer_section .column_header,
.search_results_viewer .column_header
{
	font-weight:bold;
	text-align:center;
	font-size:12pt;
	background-color:#e0e0e0;
	color:black;
}

/* -------------------------------------------------------------------- */
/* Attribute value data in search results and detail view               */
/* -------------------------------------------------------------------- */

.ldap_entry_viewer_section td,
.search_results_viewer td
{
	background-color:#f0f0f0;
	color:black;
}

/* -------------------------------------------------------------------- */
/* Attribute label text in detail view                                  */
/* -------------------------------------------------------------------- */

.ldap_entry_viewer_section th
{
	font-weight:normal;
	text-align:left;
	white-space:nowrap;
	background-color:white;
	color:black;
}

/* -------------------------------------------------------------------- */
/* Various other style directives (less useful for user configuration)  */
/* -------------------------------------------------------------------- */

.ldap_entry_viewer_section th,
.search_results_viewer td.object_class_icon,
.login_info,
.server_info,
.search th,
.search th+td+td
{
	width:1px;		/* auto-expand as needed */
}

.search_results_viewer td.object_class_icon
{
	background-color:transparent;
}

a
{
	text-decoration:none;
}

.ldap_navigation_path_frame td,
.ldap_entry_viewer,
.ldap_entry_viewer_section,
.ldap_entry_viewer_section td,
.search_results_viewer,
.search,
.search th+td input
{
	width:100%;
}

.ldap_entry_viewer,
.search_results_viewer
{
	/* some older browsers default to hide */
	empty-cells:show;
}

.ldap_navigation_path_frame td,
.ldap_entry_viewer td,
.ldap_entry_viewer th,
.search_results_viewer td,
.search_results_viewer th
{
	padding:0px;
}

.ldap_entry_viewer_section_frame
{
	vertical-align:top;
}

/* always show layout sections in single column
   when screen width < 640 px */
@media screen and (max-width:640px)
{
	.ldap_entry_viewer_section_frame
	{
		display:block;
		/* override user-specified width */
		width:100% !important;
	}
}

.ldap_navigation_path
{
	padding:0px;
	margin:0px;
}

.ldap_navigation_path li
{
	display:inline;
}

/* show folders in vertical list when screen width < 640 px */
@media screen and (max-width:640px)
{
	.ldap_navigation_path li
	{
		display:block;
	}
}

.ldap_navigation_path li img
{
	vertical-align:top;
}

.ldap_navigation_path_frame td
{
	white-space:nowrap;
}

.login_info,
.server_info
{
	text-align:right;
	vertical-align:top;
}

textarea
{
	height:6em;	/* room for about four lines of text */
}

.search th
{
        font-weight:normal;
        white-space:nowrap;
}

.search th+td
{
        padding-right:6pt;
}

.page_footer ul
{
	padding:0px;
	margin:0px;
}

.page_footer li
{
	display:inline;
}

.page_footer li+li:before
{
	content:'|';
	margin:0 0.5em;
}
