/* -------------------------------------------------------------------- */
/* Styling applied to address book overall (font family, etc)           */
/* -------------------------------------------------------------------- */

body,table {
	font-family:sans-serif;
	font-size:10pt;
}

/* -------------------------------------------------------------------- */
/* Address book title (first element in folder navigation path)         */
/* -------------------------------------------------------------------- */

.ldap_navigation_path th
{
	white-space:nowrap;
	font-size:12pt;
}

/* -------------------------------------------------------------------- */
/* Folder navigation path element (other than first)                    */
/* -------------------------------------------------------------------- */

.ldap_navigation_path td
{
	white-space:nowrap;
}

/* -------------------------------------------------------------------- */
/* Table column headers in search results and detail view               */
/* -------------------------------------------------------------------- */

.ldap_entry_viewer_section .column_header,
.search_results_viewer .column_header
{
	font-weight:bold;
	text-align:center;
	font-size:12pt;
	background-color:#e0e0e0;
	color:black;
}

/* -------------------------------------------------------------------- */
/* Attribute value data in search results and detail view               */
/* -------------------------------------------------------------------- */

.ldap_entry_viewer_section td,
.search_results_viewer td
{
	background-color:#f0f0f0;
	color:black;
}

/* -------------------------------------------------------------------- */
/* Attribute label text in detail view                                  */
/* -------------------------------------------------------------------- */

.ldap_entry_viewer_section th
{
	width:1px;		/* auto-expands as needed */
	font-weight:normal;
	text-align:left;
	white-space:nowrap;
	background-color:white;
	color:black;
}

/* -------------------------------------------------------------------- */
/* Various other style directives (less useful for user configuration)  */
/* -------------------------------------------------------------------- */

.search_results_viewer td.object_class_icon
{
	width:1px;		/* auto-expands as needed */
	background-color:transparent;
}

a
{
	text-decoration:none;
}

.ldap_navigation_path,
.login_info,
.ldap_entry_viewer,
.ldap_entry_viewer_section,
.search_results_viewer
{
	width:100%;
}

.ldap_entry_viewer,
.search_results_viewer
{
	/* some older browsers default to hide */
	empty-cells:show;
}

.ldap_navigation_path td,
.ldap_navigation_path th,
.ldap_entry_viewer td,
.ldap_entry_viewer th,
.search_results_viewer td,
.search_results_viewer th
{
	padding:0px;
}

.ldap_navigation_path
{
	line-height:24px;	/* should match icon height */
}

.login_info
{
	text-align:right;
}
