body,table
{
	font-family:sans-serif;
	font-size:10pt;
}

a
{
	text-decoration:none
}

table th
{
	background-color:#e0e0e0;
	color:black;
}

table td
{
	background-color:#f0f0f0;
	color:black;
}

code,pre
{
	font-size:9pt;
}
