body,table
{
	font-family:sans-serif;
	font-size:10pt;
}

a
{
	text-decoration:none
}

table
{
	border-collapse: collapse;
}

table th
{
	background-color:#e0e0e0;
	color:black;
	border: 1px solid black;
	padding:4pt;
}

table td
{
	background-color:#f0f0f0;
	color:black;
	border: 1px solid black;
	padding:4pt;
}

code,pre
{
	font-size:9pt;
}

/* Automatic numbering of section headings */

h2:before
{
	content:counter(h2counter) "\0000a0\0000a0";
}

h3:before
{
	content:counter(h2counter)
		"." counter(h3counter) "\0000a0\0000a0";
}

h4:before
{
	content:counter(h2counter)
		"." counter(h3counter)
		"." counter(h4counter) "\0000a0\0000a0";
}

h5:before
{
	content:counter(h2counter)
		"." counter(h3counter)
		"." counter(h4counter)
		"." counter(h5counter) "\0000a0\0000a0";
}

h6:before
{
	content:counter(h2counter)
		"." counter(h3counter)
		"." counter(h4counter)
		"." counter(h5counter)
		"." counter(h6counter) "\0000a0\0000a0";
}

body,h1	{ counter-reset:h2counter; }
h2	{ counter-reset:h3counter; counter-increment:h2counter; }
h3	{ counter-reset:h4counter; counter-increment:h3counter; }
h4	{ counter-reset:h5counter; counter-increment:h4counter; }
h5	{ counter-reset:h6counter; counter-increment:h5counter; }
h6	{ counter-increment:h6counter; }
